@font-face {
    font-family: "Quicksand";
    src: url("fonts/Quicksand/static/Quicksand-Regular.ttf");
}

*{
    font-family: "Quicksand";
    margin: 0; 
    padding: 0;
    --background-color: #C0A9B0;
    --form-color: #79C99E;
    --input-color: #A0C2C2;
    --header-color: #18314F;
}

body{
    background-color: #C0A9B0;
}

.header{
    background-color: var(--header-color);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.5);
}

#newBookButton{
    border: none;
    background-color: var(--form-color);
    color: white;
    border-radius: 5px;
    height: 75px;
    width: 175px;
    margin-left: auto;
    color:black;
    margin-right: auto;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0;
    transition: .2s;
}

#newBookButton:hover{
    box-shadow: 0px 5px 26px 5px rgba(256,256,256,0.1);    
    cursor: pointer;
}

#bookContainer{
    display: grid;
    padding: 15px 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, .5fr));
    gap: 15px;
}

#books{
    height: 200px;
    width: auto;
    background-color: var(--input-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
    opacity: 80%;
    transition: .2s;
    text-align: center;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#books:hover{
    opacity: 100%;
}

#books > button{
    width: 100px;
    align-self: center;
    border: none;
    transition: .2s;
    border-radius: 5px;
    width: 50%;
    height: 50px;
}

#books > button:hover{
    box-shadow: 0px 5px 26px 5px rgba(0,0,0,0.1);    
    cursor: pointer;
}

#delete{
    background-color: rgb(180, 47, 47);
}

.formContainer{
    display: none;
    width: 350px;
    position: absolute;
    left: 45%;
    top: 40%;
    background-color: var(--background-color);
    border-radius: 2px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    font-family: "Quicksand";
    background-color: var(--form-color);
}

form > div{
    display: flex;
    justify-content: space-between;
}

fieldset {
    display: flex;
    border: none;
}

fieldset > legend{
    float: left;
    margin-right: 65px;
}

#submit{
    border: none;
    background-color: #0D0630;
    color: white;
    border-radius: 5px;
    height: 25px;
    width: 75px;
    margin-left: auto;
    
}

.formContainer input[type=text]{
    border: none;
    background-color: var(--input-color);
    padding: 5px;
}

#submit:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}